// Stripping styles
* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
p {
	margin: 0;
}

// Base styles

html {
	font-size: 125%;
}

body {
	background-color: $tertiary;
	color: $quaternary;
}

img {
	display: block;
}

.wrapper {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

// font-awesome icons

.fas {
	font-size: 2rem;
}

.fa-circle-info {
	font-size: 2rem;
}

footer {
	background-color: $extra;
	text-align: center;
	padding: 2.5% 0;
	p {
		color: $tertiary;
	}
}

// nav {
// 	a:hover,
// 	a:focus {
// 		border: 1px dotted black;
// 	}
// }
