// Stripping styles
* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
p {
	margin: 0;
}

// Base styles

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

html {
	font-size: 125%;
}

body {
	background-color: $tertiary;
	color: $quaternary;
	background-image: url('../assets/wave_bg.jpeg');
}

img {
	display: block;
}

.wrapper {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

// font-awesome icons

.fas {
	font-size: 2rem;
}

.fa-circle-info {
	font-size: 2rem;
}

footer {
	background-color: $extra;
	text-align: center;
	padding: 2.5% 0;
	width: 100%;
	position: relative;
	&::before {
		content: '';
		background-image: url('../assets/home_after.png');
		background-repeat: repeat-x;
		position: absolute;
		left: 0;
		top: -70px;
		height: 70px;
		width: 100%;
		display: block;
	}
	p {
		color: $tertiary;
	}
}

.backToTop,
.backToTop:visited {
	display: none;
	position: fixed;
	bottom: 50px;
	left: 50px;
	color: $celesteRed;
	opacity: 100%;
	transform: scale(400%);
	transition: opacity 0.3s;
	&:hover {
		opacity: 50%;
		transition: opacity 0.3s;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// nav {
// 	a:hover,
// 	a:focus {
// 		border: 1px dotted black;
// 	}
// }
