.info {
	margin-bottom: 100px;
	.wrapper {
		max-width: 1400px;
		width: 100%;
	}
}

.tabs {
	// Flex the buttons inside the tabs container
	padding: 1.5% 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	a {
		padding: 2% 2%;
		margin: 0% 5%;
		color: $quaternary;
		background-color: $extra;
		border-radius: 50%;
		color: white;
		transition: background-color 0.5s;
		// Styling for when label is selected
		&:hover,
		&:focus {
			transition: background-color 0.5s;
			background-color: $celesteRed;
			cursor: pointer;
		}
		// Icon sizing
		i {
			font-size: 2.5rem;
		}
	}
}

// Style the results divs and the individual item cards inside
.results {
	// Hide divs following .results by default
	& > div {
		display: none;
	}
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.itemCard {
			width: calc(32% - 0.5%);
			margin: 1.5% 0.5%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: space-between;
			border: 5px solid $extra;
			border-radius: 5%;
			padding: 4% 2%;
			img {
				filter: drop-shadow(5px 5px 5px $grey);
			}
			.itemProperty {
				margin-bottom: 5%;
			}
		}
	}
}

// Display corresponding div when button is pressed
div.activeResultsTab {
	display: block;
}
