.info {
	margin-bottom: 100px;
	.wrapper {
		max-width: 1400px;
	}
}

.tabs {
	// Flex the buttons inside the tabs container
	padding: 1.5% 0;
	display: none;
	// Change to flex when form is submitted
	flex-direction: row;
	justify-content: center;
	animation: fadeIn 0.75s;
	a {
		padding: 2%;
		margin: 0% 5%;
		background-color: $tropicalTeal;
		border-radius: 50%;
		transition: all 0.5s;
		display: flex;
		justify-content: center;
		align-items: center;
		// Styling for when label is selected
		&:hover,
		&:focus,
		&:active {
			transition: all 0.5s;
			background-color: $islandCoral;
			cursor: pointer;
			transform: scale(1.2);
		}
	}
	.activeButton {
		background-color: $islandCoral;
		transform: scale(1.2);
	}
}

// Style the results divs and the individual item cards inside
.results {
	// Hide divs following .results by default
	& > div {
		display: none;
	}
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		animation: fadeIn 0.75s;
		.itemCard {
			width: calc((100% / 3) - 1.5%);
			margin: 1.5%;
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			justify-content: space-between;
			border: 5px solid $accent;
			border-radius: 5%;
			padding: 4% 2%;
			animation: fadeIn 0.75s;
			background-color: $contentBackground;
			img {
				filter: drop-shadow(5px 5px 5px $grey);
			}
			.itemProperty {
				margin-bottom: 5%;
			}
		}
	}
}

// Display corresponding div when button is pressed
div.activeResultsTab {
	display: block;
}

.errorMessage {
	text-align: center;
	background-color: $contentBackground;
	margin-top: 3%;
	padding: 2%;
	border-radius: 3%;
	border: 3px solid $accent;
}
