.landingContent {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	animation: fadeIn 0.75s;
	margin-top: 15%;
	.blathersContainer {
		margin: 0 auto;
		padding-top: 2.5%;
		img {
			border-radius: 50%;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
		width: 70%;
		border: 5px solid $accent;
		border-radius: 10px;
		text-align: center;
		padding: 5%;
		margin: 2.5% 0;
		background-color: $contentBackground;
	}

	.hemisphereContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.northernContainer,
		.southernContainer {
			padding: 0 5%;
			margin: 2.5% 0;
		}
	}
	select {
		width: 35%;
		margin: 2.5% auto;
		padding: 2.5%;
		text-align: center;
		border-radius: 10px;
		border: 2px solid $contentBackground;
		cursor: pointer;
		background-color: $blathersBrown;
		transition: background-color 0.5s;
		color: $contentBackground;
		&:hover,
		&:focus {
			background-color: $quaternaryLight;
			border: 2px solid $quaternary;
		}
	}
}

button {
	border: none;
	border-radius: 10px;
	margin: 2.5% auto;
	padding: 2.5%;
	margin-top: 2.5%;
	width: 55%;
	background-color: $extra;
	color: $contentBackground;
	transition: background-color 0.5s;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: $islandCoral;
	}
}
