.landingContent {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	animation: fadeIn 0.75s;
	margin-top: 15%;
	.blathersContainer {
		margin: 0 auto;
		padding-top: 2.5%;
		img {
			border-radius: 50%;
		}
	}

	.greetingFormContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
		width: 70%;
		border: 5px solid $accent;
		border-radius: 10px;
		text-align: center;
		padding: 5%;
		margin: 2.5% 0;
		background-color: $contentBackground;
	}

	.greeting {
		margin: 0 auto;
		background-color: $contentBackground;
		hr {
			border: 0;
			height: 2px;
			background-image: linear-gradient(
				to right,
				rgba($nookYellow, 0),
				rgba($nookYellow, 0.75),
				rgba($nookYellow, 0)
			);
			margin: 5% 0;
		}
	}

	.greetingCopy {
		margin: 5% 0%;
	}

	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;

		fieldset {
			border: none;
			padding: 0;
		}
	}

	.hemisphereContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.northernContainer,
		.southernContainer {
			padding: 0 5%;
			margin: 2.5% 0;
		}
	}
	select {
		margin: 2.5% auto;
		padding: 3.5%;
		text-align: center;
		border-radius: 10px;
		border: 2px solid $contentBackground;
		cursor: pointer;
		background-color: $blathersBrown;
		transition: background-color 0.5s;
		color: $contentBackground;
		&:hover,
		&:focus {
			background-color: $brewstersLatte;
			border: 2px solid $blathersBrown;
		}
	}
}

button {
	border: none;
	border-radius: 10px;
	margin: 3.5% auto 0%;
	padding: 4.5% 15%;
	background-color: $tropicalTeal;
	color: $contentBackground;
	transition: background-color 0.5s;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: $islandCoral;
	}
}
