h1,
h2 {
	font-family: $headingFont;
	letter-spacing: 2px;
}

h3,
p,
label {
	font-family: $bodyFont;
	color: $blathersBrown;
	font-size: $baseFontSize;
}

h1 {
	color: $contentBackground;
	font-size: 2rem;
	span {
		color: $nookYellow;
	}
}

h3 {
	font-family: $headingFont;
	letter-spacing: 2px;
	font-size: 1.2rem;
	color: $brewstersCoffee;
	padding: 2.5% 0;
}

body {
	font-family: $bodyFont;
}

a {
	text-decoration: none;
	color: $tropicalTeal;
	font-weight: bold;
	transition: all 0.5s;
	&:hover,
	&:focus {
		color: $islandCoral;
	}
}

.results {
	h3 {
		font-family: $headingFont;
		font-size: 1.4rem;
		text-transform: uppercase;
	}
	p {
		font-family: $bodyFont;
		line-height: 30px;
		font-size: 1rem;
	}
	h3 {
		color: $islandCoral;
	}
	.itemSubheading {
		font-weight: bold;
		font-family: $headingFont;
	}
	.itemProperty,
	.itemSubheading {
		text-transform: lowercase;
	}
	.quote {
		font-family: $bodyFont;
	}
}

footer .smallFooterCopy {
	font-size: 1rem;
	line-height: 25px;
	letter-spacing: 1px;
	color: $contentBackground;
	a {
		display: inline-block;
		color: $nookYellow;
		transition: transform 0.5s;
		font-weight: bolder;
		&:hover,
		&:focus {
			transform: translateY(-10px);
		}
	}
}