h1,
h2 {
	font-family: $headingFont;
}

h3,
p,
label {
	font-family: $bodyFont;
	color: $quaternaryLight;
	font-size: $baseFontSize;
}

h1 {
	color: $tertiary;
	font-size: 2rem;
	span {
		color: $primaryLight;
	}
}

h3 {
	font-size: 1.2rem;
	color: $quaternary;
	padding: 2.5% 0;
}

body {
	font-family: $bodyFont;
}

a {
	text-decoration: none;
	color: $extra;
	font-weight: bold;
}

.results {
	h3 {
		font-family: $headingFont;
		font-size: 1.4rem;
		text-transform: uppercase;
	}
	p {
		font-family: $bodyFont;
		line-height: 30px;
		font-size: 1rem;
	}
	h3,
	p {
		color: $celesteRed;
	}
	.itemSubheading {
		font-weight: bold;
		font-family: $headingFont;
	}
	.itemProperty,
	.itemSubheading {
		text-transform: lowercase;
	}
	.quote {
		font-family: $bodyFont;
	}
}

.popup {
	h2 {
		text-transform: uppercase;
	}
	p {
		line-height: 30px;
	}
	.creditsText {
		text-transform: uppercase;
		font-weight: bold;
	}
	.smallModalCopy,
	.creditsText,
	li {
		font-size: 0.8rem;
		line-height: 25px;
		color: $grey;
	}
	i {
		color: $extra;
	}
	.closeButton {
		transform: scale(200%);
	}
}
