// Colours

$nookYellow: #f8d36c;

$brewstersCoffee: #c48d3f;
$brewstersLatte: #cfaf8e;

$accent: #bbe6e4;

$grey: #ccc;

$islandCoral: #eb7373;
$blathersBrown: #6e5f47;
$tropicalTeal: #06a7bf;
$contentBackground: #f8f8f0;

// Font styles
$headingFont: "Open Sans", sans-serif;
$bodyFont: "Varela Round", sans-serif;

// Font sizes
$baseFontSize: 1rem;
