// Colours
// green
$primary: #9dffb0;
$primaryLight: #bcf8cb;
// blue
$secondary: #81f1f7;
// white
$tertiary: #fffffa;
// brown
$quaternary: #c48d3f;
$quaternaryLight: #cfaf8e;
// yellow
$quinary: #fff563;
// pink
$extra: #f5ccc5;

$black: #000;
$grey: #ccc;
$celesteRed: #972227;
$blathersBrown: #6e5f47;
$tropicalTeal: #06a7bf;

// Font styles
$headingFont: "Open Sans", sans-serif;
$bodyFont: "Varela Round", sans-serif;

// Font sizes
$baseFontSize: 1rem;
