// Colours
// green
$primary: #9dffb0;
// blue
$secondary: #81f1f7;
// white
$tertiary: #fffffa;
// brown
$quaternary: #c48d3f;
// yellow
$quinary: #fff563;

// Font styles
$headingFont: "Open Sans", sans-serif;
$bodyFont: "Varela Round", sans-serif;

// Font sizes
$baseFontSize: 1rem;
