html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2 {
  font-family: "Open Sans", sans-serif;
}

h3,
p,
label {
  font-family: "Varela Round", sans-serif;
  color: #cfaf8e;
  font-size: 1rem;
}

h1 {
  color: #fffffa;
  font-size: 2rem;
}
h1 span {
  color: #bcf8cb;
}

h3 {
  font-size: 1.2rem;
  color: #c48d3f;
  padding: 2.5% 0;
}

body {
  font-family: "Varela Round", sans-serif;
}

a {
  text-decoration: none;
  color: #f5ccc5;
  font-weight: bold;
}

.results h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.results p {
  font-family: "Varela Round", sans-serif;
  line-height: 30px;
  font-size: 1rem;
}
.results h3,
.results p {
  color: #972227;
}
.results .itemSubheading {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.results .itemProperty,
.results .itemSubheading {
  text-transform: lowercase;
}
.results .quote {
  font-family: "Varela Round", sans-serif;
}

.popup h2 {
  text-transform: uppercase;
}
.popup p {
  line-height: 30px;
}
.popup .creditsText {
  text-transform: uppercase;
  font-weight: bold;
}
.popup .smallModalCopy,
.popup .creditsText,
.popup li {
  font-size: 0.8rem;
  line-height: 25px;
  color: #ccc;
}
.popup i {
  color: #f5ccc5;
}
.popup .closeButton {
  -webkit-transform: scale(200%);
          transform: scale(200%);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

html {
  font-size: 125%;
}

body {
  background-color: #fffffa;
  color: #c48d3f;
}

img {
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.fas {
  font-size: 2rem;
}

.fa-circle-info {
  font-size: 2rem;
}

footer {
  background-color: #f5ccc5;
  text-align: center;
  padding: 2.5% 0;
}
footer p {
  color: #fffffa;
}

header {
  padding: 2.5% 0;
  background-color: #f5ccc5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .homeLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
nav .homeLink:hover, nav .homeLink:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
nav .leafIcon {
  margin-left: 2%;
}
nav .infoLink {
  color: #fffffa;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
nav .infoLink:hover, nav .infoLink:focus {
  color: #972227;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landingContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.landingContent .blathersContainer {
  margin: 0 auto;
  padding-top: 2.5%;
}
.landingContent .blathersContainer img {
  border-radius: 50%;
}
.landingContent form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 70%;
  border: 5px solid #c48d3f;
  border-radius: 10px;
  text-align: center;
  padding: 5%;
  margin: 2.5% 0;
}
.landingContent .hemisphereContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.landingContent .hemisphereContainer .northernContainer,
.landingContent .hemisphereContainer .southernContainer {
  padding: 0 5%;
  margin: 2.5% 0;
}
.landingContent select {
  width: 35%;
  margin: 2.5% auto;
  padding: 2.5%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #fffffa;
  cursor: pointer;
  background-color: #6e5f47;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: #fffffa;
}
.landingContent select:hover, .landingContent select:focus {
  background-color: #cfaf8e;
  border: 2px solid #c48d3f;
}

button {
  border: none;
  border-radius: 10px;
  margin: 2.5% auto;
  padding: 2.5%;
  margin-top: 2.5%;
  width: 55%;
  background-color: #f5ccc5;
  color: #fffffa;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}
button:hover, button:focus {
  background-color: #972227;
}

.info {
  margin-bottom: 5%;
}
.info .wrapper {
  max-width: 1400px;
}

.tabs {
  padding: 3% 0;
}
.tabs label {
  text-align: center;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 2% 2%;
  margin-left: 4.5%;
  color: #c48d3f;
  background-color: #f5ccc5;
  border-radius: 50%;
  color: white;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.tabs label i {
  font-size: 1.6rem;
}
.tabs label:hover, .tabs label:focus {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #972227;
  cursor: pointer;
}
.tabs input[type=radio] {
  opacity: 0;
  position: absolute;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.tabs input[type=radio]:checked + label {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #972227;
}

.results > div {
  display: none;
}
.results ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.results ul .itemCard {
  width: calc((100% / 3) - 1.5%);
  margin: 1.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 5px solid #f5ccc5;
  border-radius: 5%;
  padding: 4% 2%;
}
.results ul .itemCard img {
  -webkit-filter: drop-shadow(5px 5px 5px #ccc);
          filter: drop-shadow(5px 5px 5px #ccc);
}
.results ul .itemCard .itemProperty {
  margin-bottom: 5%;
}

#bugTab:checked ~ .results .bugsResults,
#fishTab:checked ~ .results .fishResults,
#seaCreatureTab:checked ~ .results .seaCreatureResults {
  display: block;
}

.popup {
  background-color: #fffffa;
  display: none;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-animation: popupFadeIn 0.75s;
          animation: popupFadeIn 0.75s;
}
.popup .popupContent {
  background-color: #fffffa;
  margin: 0 auto;
  padding: 5%;
  border: 5px solid #cfaf8e;
  width: 70%;
  max-width: 1200px;
  text-align: center;
  -webkit-animation: popupFadeIn 0.75s;
          animation: popupFadeIn 0.75s;
  border-radius: 2.5%;
  position: relative;
}
.popup .popupContent img {
  width: 30%;
  margin: 3.5% auto;
}
.popup .popupContent p {
  margin: 2%;
}
.popup .popupContent a {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.popup .popupContent a:hover,
.popup .popupContent a:focus {
  color: #972227;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.popup .popupContent hr {
  border: 0;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(245, 204, 197, 0)), color-stop(rgba(245, 204, 197, 0.75)), to(rgba(245, 204, 197, 0)));
  background-image: linear-gradient(to right, rgba(245, 204, 197, 0), rgba(245, 204, 197, 0.75), rgba(245, 204, 197, 0));
  margin: 5% 0;
}
.popup .closeButton {
  position: absolute;
  right: 5%;
  top: 5%;
}
.popup .closeButton i {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.popup .closeButton i:hover,
.popup .closeButton i:focus {
  color: #972227;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

@-webkit-keyframes popupFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popupFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1101px) {
  .results ul .itemCard {
    margin: 0.5% 0;
  }
}
@media (max-width: 1100px) {
  .tabs {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 5%;
  }

  .results ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .results ul .itemCard {
    width: calc((100% / 2) - 1.5%);
  }
}
@media (max-width: 800px) {
  .landingContent form {
    width: 90%;
  }
  .landingContent select,
.landingContent button {
    width: 70%;
  }

  .info .wrapper {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .results ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .results ul .itemCard {
    width: 80%;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 1.6rem;
  }
  h1:hover, h1:focus {
    -webkit-transform: none;
            transform: none;
    opacity: 75%;
  }

  .wrapper {
    width: 95%;
  }

  .results ul .itemCard {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .landingContent form {
    width: 100%;
  }
  .landingContent .hemisphereContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}